body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BMI-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.error-message {
  font-size: .9rem;
  color: red;
}

.exercise-form {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 1.25rem;
}

.edit-user-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}